
<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond %{REQUEST_URI} ^/action/auth
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^auth/(.*)$ auth/index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L]

</IfModule>
